$orange-color:#fc8a35;
$gray-border:#e7e7e7;
.primary-color {
    color: $orange-color;
}

.text-color {
    color: #222;
}

.text-category-color {
    color: #666 !important;
}

.text-white {
    color: white;
}

.text-btn-all-color {
    color: #999;
}

.black-color {
    color: black;
}

.green-color {
    color: #40a944 !important;
}

.white-color {
    color: white !important;
}

.bg-black {
    background-color: #222;
}

.bg-footer {
    background-color: #222;
}

.bg-green {
    background-color: #40a944 !important;
}

.bg-all-cate {
    background-color: #279d2b !important;
}

.bg-primary {
    background-color: $orange-color;
}