.font-1 {
    font-family: Work Sans, Arial, Helvetica, sans-serif;
}

.fw-600 {
    font-weight: 600;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-700 {
    font-weight: 700;
}

.f-28 {
    font-size: 28px;
}

.f-48 {
    font-size: 48px !important;
}

.f-14 {
    font-size: 14px;
}

.f-20 {
    font-size: 20px;
}